<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Cliente3C</display-name>
    <description>Aplicacao Cadastro de Cliente em 3 camadas</description>
    <!-- mapeamento especifico -->
    <servlet>
        <servlet-name>controle.cliente.ClienteIncluir</servlet-name>
        <servlet-class>controle.cliente.ClienteIncluir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controle.cliente.ClienteIncluir</servlet-name>
        <url-pattern>/servlet/ClienteIncluir</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controle.cliente.ClienteAlterar</servlet-name>
        <servlet-class>controle.cliente.ClienteAlterar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controle.cliente.ClienteAlterar</servlet-name>
        <url-pattern>/servlet/ClienteAlterar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controle.cliente.ClienteExcluir</servlet-name>
        <servlet-class>controle.cliente.ClienteExcluir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controle.cliente.ClienteExcluir</servlet-name>
        <url-pattern>/servlet/ClienteExcluir</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controle.cliente.ClienteConsultar</servlet-name>
        <servlet-class>controle.cliente.ClienteConsultar</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>controle.cliente.ClienteConsultar</servlet-name>
        <url-pattern>/servlet/ClienteConsultar</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>menu.jsp</welcome-file>
    </welcome-file-list>
</web-app>
